* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: coolvetica;
    src: url('../coolvetica rg.ttf');
}


@font-face {
    font-family: CircularXX__Light;
    src: url('../CircularXX-Light.woff');
}

@font-face {
    font-family: CircularXX__Regular;
    src: url('../CircularXX-Regular.otf');
}

body, html {
    overflow-x: hidden;
}

.navbar {
    background-color: white;
    height: 85px;
}

.header-section {
    background-image: url('../hand-shake-digital-e1473687361363.jpg');
    background-position: center center;
    height: auto;
    position: relative;
    z-index: 1;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.header-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}

.navbar-brand {
    margin: -45px auto;
    width: 100%;
}

.navbar-brand img {
    width: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin: auto; */
    -webkit-filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.421));
    filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.421));
}

.shopse-header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 80px 0px 80px 0px;
}

.shopse-header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 20px 20px 20px 20px;
}

.header-text-col {
    /* border: 1px solid white; */
    height: auto;
}

.header-form-col {
    height: auto;
    background-color: #3F029A;
    /* border: 2px dotted white; */
    max-width: 300px;
    padding: 30px 20px 30px 20px;
    width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-form-col span{
    font-weight: bolder;
}

.header-form-col input[type="text"] {
    width: 100%;
    outline: none !important;
    border: none !important;
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: calc(10pt + 0.15vw);
    color: gray;
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
    /* border: 2px dotted #28B631; */
}

.container-fluid svg {
    border: 2px solid #28B631;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 25px;
}

.header-form-col button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #28B631;
    color: white;
    padding: 7px 0px 7px 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* border: 2px dotted #3F029A; */
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
    font-size: calc(10pt + 0.15vw);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-form-col button:hover {
    background-color: white;
    color: black;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    border: 1px solid #28B631;
}

.header-form-col p {
    font-family: 'CircularXX__Light';
    color: white;
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
}

.header-text-col h1 {
    font-family: 'coolvetica';
    letter-spacing: 0.03em;
    line-height: 1.1295;
    color: white;
    font-size: calc(32pt + 0.15vw);
}

.header-text-col p {
    font-family: 'CircularXX__Light';
    color: white;
    font-size: calc(14pt + 0.15vw);
}

@media screen and (max-width: 1080px) {
    .navbar-brand img {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .shopse-header-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
    }
    .header-form-col {
        margin: initial;
    }
}

@media screen and (max-width: 538px) {
    .header-text-col h1 {
        font-size: calc(22pt + 0.15vw);
    }
    .header-text-col p {
        font-size: calc(12pt + 0.15vw);
    }
    .navbar-brand img {
        width: 40%;
    }
    .shopse-header-row {
        padding: 0px 0px 30px 0px;
    }
}

.search-section {
    background-color: #e7e8ef;
    height: auto;
    padding: 50px 0px 50px 0px;
}

.search-section input {
    width: 50%;
    outline: none !important;
    /* border: 2px dotted #3F029A; */
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    font-size: calc(10pt + 0.15vw);
    color: gray;
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
}

.search-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-section button {
    background-color: #28B631;
    color: white;
    padding: 0px 30px 0px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
    font-size: calc(10pt + 0.15vw);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-section button:hover {
    background-color: white;
    color: black;
    transform: translateY(-3px);
    border: 1px solid #28B631;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    border: 1px solid #28B631;
}

.search-section h2 {
    font-family: 'coolvetica';
    color: #000;
    font-size: calc(22pt + 0.15vw);
}

.search-section h2 span {
    color: #3F029A;
}

@media screen and (max-width: 768px) {
    .search-section input {
        width: 65%;
    }
}

@media screen and (max-width: 538px) {
    .search-section input {
        width: 100%;
    }
    .search-section form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .search-section button {
        margin: 20px auto;
        padding: 8px 35px 8px 35px;
    }
}

.marquee-section {
    background-image: url('../BG/5566882-02.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 60px 0px;
}

#marquee {
    width: 100%;
}

#marquee h2 {
    font-family: 'coolvetica';
    color: #000;
    font-size: calc(22pt + 0.15vw);
}

#marquee h2 span {
    color: #3F029A;
}

#marquee .container {
    overflow: hidden;
    width: 100%;
}

#marquee .pic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: marquee 10s infinite linear;
    animation: marquee 10s infinite linear;
}

#marquee .pic-container .pic {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 10px;
}

#marquee img {
    width: 70%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    }
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-125%);
            transform: translateX(-125%);
        }
    }
    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-125%);
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @-webkit-keyframes marquee {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-186.65%);
            transform: translateX(-186.65%);
        }
    }
    @keyframes marquee {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-186.65%);
            transform: translateX(-186.65%);
        }
    }
}

.eligible-section {
    background-color: #3F029A;
    padding: 60px 0px 60px 0px;
}

.eligible-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 2em 1fr 2em 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 2em;
}

.eligible-row>div {
    /* border: 1px solid white; */
}

.col-lg-eligible h3 {
    color: white;
    font-family: 'coolvetica';
    letter-spacing: 0.04em;
    /* font-weight: 300; */
    font-size: calc(20pt + 0.15vw);
}

.col-lg-eligible input {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 20px;
    /* border: 2px dotted #28B631; */
    height: 40px;
    padding: 0px 15px 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: calc(10pt + 0.15vw);
    color: gray;
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
}

.col-lg-eligible button {
    width: 100%;
    background-color: #28B631;
    border: none !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    padding: 8px 0px 8px 0px;
    color: white;
    -o-border-radius: 20px;
    /* border: 2px dotted #fff; */
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    font-family: 'CircularXX__Regular';
    letter-spacing: 0.03em;
    font-size: calc(10pt + 0.15vw);
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.col-lg-eligible button:hover {
    background-color: white;
    color: #000;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    border: 1px solid #28B631;
}

@media screen and (max-width: 1080px) {
    .navbar {
        /* height: 150px; */
    }
}

@media screen and (max-width: 768px) {
    .eligible-row {
        grid-gap: 1em;
    }
}

@media screen and (max-width: 640px) {
    .eligible-row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 538px) {
    .search-section h2 {
        font-size: calc(18pt + 0.15vw);
    }
    #marquee h2 {
        font-size: calc(18pt + 0.15vw);
    }
    .col-lg-eligible h3 {
        font-size: calc(16pt + 0.15vw);
    }
}

@media screen and (max-width: 320px) {
    .shopse-header-col {
        margin: 20px 0px 20px 0px;
    }
}

@media screen and (min-width: 1920px) {
    .navbar-brand img {
        width: 10%;
        padding: 10px 0px 10px 0px;
    }
}

@media screen and (min-width: 2560px) {
    .navbar-brand img {
        width: 3%;
        padding: 10px 0px 10px 0px;
    }
}
